@import "colors";

.home {
  width: 100%;
  height: 100vh;
  background-color: $second;
  border-radius: 0 0 200px 200px;

  > main {
    position: absolute;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-content: center;

    > h1 {
      font: 400 6em $text1;
      color: $first;
    }
    > p {
      font: 400 1em $text1;
      color: $first;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center/auto url("../assets/1.png");
    // filter: blur(3px);
    border-radius: 0 0 200px 200px;
  }
}

.home2{
    height: 100vh;
    width: 100%;
    background-color: $second;
    padding: 500px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
    color: $first;

    > img {
        width: 30%;
        animation: imgUp 0.7s linear infinite alternate;
    } 

    > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;

        > p{
            color: $first;
            letter-spacing: 2px;
            word-spacing: 5px;
            font: 100 1.2rem $text2;
        }
    }
}

@keyframes imgUp {
    to {
        transform: translateY(-10px)
    }
}