*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    background-color: azure;
    margin: auto;
    overflow: hidden;
}

nav{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
     display: flex;
     align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;

}

nav ul :first-child{
    color: blue;
}

/* Hero section */

main{
display: flex;
align-items: center;
justify-content: center;
height: 85vh;

}

main section{
    width: 50%;
}

.leftsection{
    margin-left: 5%;
    position: relative;
}