body{
    background-color: brown;
}

table{
    width: 100%;
    color: antiquewhite;
}

th,td{
    border-bottom: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

tr:hover{
    background-color: blueviolet;
}