/*******************CSS Reset***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*****************Custom Variable Declaration********************/
  :root {
    --color-white-001: #feffff;
    --color-skyblue-001: #e4f2ff;
    --color-black-001: #000000;
    --color-purple-001: #722ed1;
    --color-purple-002: #2b1e3f;
    --color-grey-001: #88888a;
    --color-grey-002: #dedce0;
    --color-grey-003: #3a3838;
    --color-cyan-001: #b3c3c3;
    --color-cyan-002: #c6c5e06c;
  }
  
  /***************Utility Classes***********************/
  .logo > a > img {
    width: 100px;
    cursor: pointer;
  }
  
  .btn_primary {
    all: unset;
    padding: 0.8em 2em;
    font-size: 0.9rem;
    border-radius: 48px;
    color: var(--color-purple-001);
    outline: 1px solid var(--color-purple-001);
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-weight: 500;
    transition: all 350ms ease-in-out;
  }
  
  .btn_primary:hover {
    color: var(--color-white-001);
    background-color: var(--color-purple-001);
  }
  
  .btn_primary:hover::before {
    transform: scaleX(1);
  }
  .heading_primary {
    font-size: 2.3rem;
    font-weight: bold;
  }
  .para {
    font-size: 1.05rem;
    color: var(--color-grey-001);
    font-weight: 300;
  }
  .top_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--color-purple-001);
    padding: 0.8em 1.6em;
    border-radius: 27px;
    background-color: var(--color-cyan-002);
    cursor: pointer;
  }
  /*********************************************************************************/
  body {
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Metrophobic", sans-serif;
    color: var(--color-black-001);
    overflow-x: hidden;
  }
  
  /*************Navbar****************/
  nav {
    padding: 2em 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
    /* border: 2px solid yellow; */
  }
  nav > :first-child {
    display: none;
    z-index: 3;
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--color-black-001);
    cursor: pointer;
    transition: all 350ms ease-in-out;
  }
  .hamburger {
    position: absolute;
    left: 8%;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hamburger::before {
    top: -9px;
  }
  .hamburger::after {
    top: 9px;
  }
  
  .hamburger_menu > .hamburger {
    transform: rotate(45deg);
  }
  .hamburger_menu > .hamburger::before {
    opacity: 0;
  }
  .hamburger_menu > .hamburger::after {
    transform: rotate(90deg) translateX(-10px);
  }
  
  .nav_links_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
    /* border: 2px solid rgb(46, 46, 6); */
  }
  
  .nav_links_container > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3em;
    flex-wrap: wrap;
    font-weight: 500;
  }
  .nav_links_container > ul > :first-child {
    position: relative;
  }
  .nav_links_container > ul > :first-child::before {
    content: "\005E";
    position: absolute;
    transform: rotateX(180deg);
    top: -2px;
    right: -17px;
    cursor: pointer;
  }
  .nav_links {
    text-decoration: none;
    color: var(--color-black-001);
    font-size: 0.9rem;
    position: relative;
  }
  .nav_links::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 7px;
    background-color: var(--color-black-001);
    top: 1.6rem;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 350ms ease-in-out;
  }
  .nav_links:hover::before {
    transform: scaleX(1);
  }
  
  /****************************Hero Section********************************/
  .hero {
    padding: 3em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-weight: 700;
    flex-wrap: wrap;
  }
  .hero ::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      to bottom,
      var(--color-white-001),
      var(--color-skyblue-001)
    );
    height: 95%;
    width: 100%;
    z-index: -2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: rotate(-5deg);
  }
  .hero_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5em;
  }
  .hero_links {
    display: flex;
    gap: 0.7em;
  }
  .hero_links > a {
    color: var(--color-purple-001);
  }
  .version {
    text-decoration: none;
  }
  .btn_container > .btn_primary::before {
    all: unset;
  }
  .learn_more_btn {
    outline: none;
  }
  .start_free_trial_btn {
    background-color: var(--color-purple-001);
    color: var(--color-white-001);
    transition: all 350ms ease-in-out;
  }
  .start_free_trial_btn:hover {
    color: var(--color-purple-001);
    background-color: var(--color-white-001);
  }
  
  .hero_right > img {
    width: 100%;
    min-width: 300px;
    animation: animate 10s linear infinite;
  }
  @keyframes animate {
    0% {
      scale: 0.6;
    }
    50% {
      scale: 1;
    }
    100% {
      scale: 0.6;
    }
  }
  
  /*****************************3 Steps Insights***************************/
  .insights {
    padding: 10em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  .insights > .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
  }
  
  .insights > .top > .heading_primary {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .insights > .top > .para {
    text-align: center;
    font-weight: 500;
  }
  .insights > .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
  }
  .insights_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.7em;
  }
  .insights_card > .heading_secondary {
    font-size: 0.7rem;
  }
  .insights_card > .para {
    line-height: 1.4rem;
  }
  
  /*****************************Best Stack & pipeline******************************/
  .best_stack,
  .pipeline {
    padding: 4em 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4em;
    flex-wrap: wrap;
  }
  .image_container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_container > img {
    width: 80%;
    min-width: 280px;
    animation: rotate 60s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .best_stack_right,
  .pipeline_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
  }
  .best_stack_right > .heading_primary,
  .pipeline_right > .heading_primary {
    font-size: 1.4rem;
  }
  .best_stack_right > .para,
  .pipeline_right > .para {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .pipeline {
    flex-direction: row-reverse;
    padding: 4em 2em;
  }
  .pipeline > .image_container {
    width: 50%;
  }
  .pipeline > .image_container > img {
    animation: none;
    width: 150%;
  }
  
  /*****************************Review Section*****************************/
  .review_section {
    padding: 8em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .review_section > blockquote {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-purple-002);
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
  .cto > p {
    text-align: center;
    padding: 0.2em 0;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .logo_container {
    padding: 2em 1em;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    border-top: 3px solid var(--color-grey-002);
    flex-wrap: wrap;
  }
  .logo_container > img {
    width: 120px;
  }
  
  /*****************************Form*************************************/
  
  .form {
    padding: 6em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
    flex-wrap: wrap;
  }
  .form_left_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    box-shadow: 1px 1px 4px var(--color-grey-001);
    padding: 1em 2em;
  }
  .form_left_content > .heading_primary {
    font-size: 1.6rem;
    color: var(--color-purple-002);
    text-align: center;
  }
  .trusted_by {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
  }
  .trusted_by > .line {
    height: 2px;
    width: 34%;
    background-color: var(--color-grey-002);
  }
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    flex-wrap: wrap;
  }
  .form_section_logo_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;
  }
  
  .form_right_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em 2em;
    box-shadow: 1px 1px 4px var(--color-grey-001);
  }
  .form_right_content > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    max-width: 300px;
    min-width: 200px;
  }
  .sign_up {
    font-size: 2rem;
    font-weight: bold;
  }
  .form_right_content > button {
    all: unset;
    padding: 1em 8em;
    background-color: var(--color-purple-001);
    color: var(--color-white-001);
    border-radius: 7px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
  }
  .form_right_content > form > input {
    padding: 1em 15em 1em 1em;
  }
  .form_right_content > form > input::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .form_right_content > form > input:focus {
    outline: none;
  }
  .or {
    font-weight: 700;
  }
  .already_ac {
    color: var(--color-grey-001);
    font-weight: 500;
  }
  .already_ac > a {
    text-decoration: none;
  }
  .already_ac > a:hover {
    text-decoration: underline;
  }
  /*****************************Footer************************************/
  footer {
    padding: 2em 5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4em;
    flex-wrap: wrap;
  }
  footer > .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
  }
  footer > .info > p {
    font-weight: 500;
    line-height: 1.5rem;
  }
  .social_media_icons {
    display: flex;
    gap: 0.5em;
  }
  .social_media_icons > a > img {
    cursor: pointer;
    width: 20px;
    transition: all 350ms ease-in-out;
  }
  .social_media_icons > a > img:hover {
    scale: 1.2;
  }
  .footer_links_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2em;
  }
  
  .footer_links_container > span {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .footer_links_container > ul {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    list-style: none;
  }
  .footer_links_container > ul > li {
    cursor: pointer;
    transition: color 350ms ease-in-out;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-grey-003);
  }
  .footer_links_container > ul > li:hover {
    color: var(--color-black-001);
  }
  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    box-shadow: 1px 1px 0px var(--color-grey-001);
    padding: 0.5em;
  }
  .newsletter > input {
    padding: 0.8em 1.7em;
    border: none;
    outline: none;
  }
  .newsletter > img {
    cursor: pointer;
  }
  
  .made_by{
    text-align: center;
    font-size: 1.8rem;
    padding:4em 0 0 1em;
    font-weight: bold;
  }
  /*****************************Media Queries*****************************/
  @media screen and (max-width: 1150px) {
    .insight {
      padding-bottom: 4em;
    }
    .best_stack,
    .pipeline {
      justify-content: center;
    }
    .best_stack_right,
    .pipeline_right {
      align-items: center;
    }
    .best_stack_right > .para,
    .pipeline_right > .para {
      text-align: center;
    }
    footer {
      align-items: center;
    }
  }
  @media screen and (max-width: 780px) {
    nav {
      justify-content: center;
    }
    .hero ::before {
      height: 70%;
    }
  }
  @media screen and (max-width: 620px) {
    .hero {
      padding: 2em 2em;
    }
    .hero_left > .heading_primary {
      font-size: 1.4rem;
    }
    .hero_left > .para {
      font-size: 0.8rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    nav > :first-child {
      display: block;
    }
    .nav_links_container {
      padding-top: 8em;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      background-color: var(--color-cyan-001);
      top: 0;
      left: 0%;
      bottom: 0;
      right: 0;
      height: 100vh;
      width: 50vw;
      transform: translateX(-100%);
      transition: transform 350ms ease-in-out;
      z-index: 2;
    }
    .nav_links_container > ul {
      flex-direction: column;
    }
    .responsive_navbar {
      transform: translateX(0%);
    }
    .nav_links_container > ul > :first-child::before {
      all: unset;
    }
    .insights > .top > .heading_primary {
      font-size: 1rem;
    }
    .insights > .top > .para {
      font-size: 0.9rem;
    }
    .hero_left > .heading_primary {
      font-size: 1rem;
    }
    .insights_card > .para {
      font-size: 0.9rem;
    }
    .best_stack {
      padding: 4em 2em;
    }
    .best_stack_right > .heading_primary,
    .pipeline_right > .heading_primary {
      text-align: center;
    }
    .best_stack_right > .para,
    .pipeline_right > .para {
      font-size: 1rem;
    }
    .form_section_logo_container {
      justify-content: center;
    }
    .form_left_content > .heading_primary {
      font-size: 1rem;
    }
    .form_right_content > button {
      padding: 1em 4em;
    }
    .form_right_content > form > input {
      padding: 1em 6em 1em 1em;
    }
  }