p{
    /* color: aquamarine; */
    font-size: x-large;
    font-weight: 900;
    font-style: italic;
    text-align: justify;
    /* text-indent: 30%; */
    /* text-transform:uppercase; */
    /* text-decoration:line-through; */
    line-height: 30px;
}