* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav1{
    background: rgb(24, 21, 21);
    color: antiquewhite; 
    list-style-type: none;
    display: flex; 
    gap: 10vh;
    }

    .ul1{
        display: flex;
        list-style-type: none;
    }

    .right1{
        display: flex;
        list-style-type: none;
    }


 